<%- include("./partials/header")  %> 
<link rel="stylesheet" href="css/main.css">

</head>
<body>

<!-- header ends here -->

<div class="container">
    <div class="row">
 
        <%- include("./partials/navbar") %>
        
        <div class="main-container scroll col-9 col-md-7 col-lg-5">
            <!-- Main content -->
            <h1 class="fw-bold title-container">Home</h1>

            <%- include('./partials/modal')  %> 


            <div class="mb-3 post-container">
                <div class="userImageContainer">
                    <img src="images/profile.jpeg" alt="Profile Image">    
                </div>

                <div class="textAreaContainer">
                    <textarea id="post-text" placeholder="What's Happening ?" name="" id="" cols="30" rows="3"></textarea>
                    <button id="submitPostButton" >Post</button>
                </div>

            </div>

            <div class="tweetsContainer" id="one">

            </div>

            
        </div>
        
        

        
        <%- include("./partials/apiSection") %>



    </div>
</div>




<script>
    var currentUser = '<%=currentUser.id %>';
</script>






<!-- for sending and receiving posts -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/jQuery.js"></script>
<script src="/js/common.js"></script>   
<%- include("./partials/footer")  %> 



